.header {
  padding: 0px 16px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.header nav a {
  margin: 16px;
  text-decoration: none;
  color: #39404a;
  text-transform: uppercase;
}

.hero {
  display: flex;
  align-items: center;
  padding: 48px 16px;
  background-image: url("../../public/icons/heroBg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.hero div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 48px;
  width: 588px;
  background-color: #f7f8f9;
}

.hero div a {
  padding: 10px 24px;
  background-color: var(--primary-color);
  width: fit-content;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 48px 15%;
  text-align: center;
}
.services div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  text-align: center;
}

.services div article {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 270px;
}

.services div article p {
  font-size: var(--b2);
}

.socialProof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--secondary-bg);
  padding: 48px 15%;
}

.socialProof div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 56px 15%;
}

.products a {
  padding: 10px 24px;
  background-color: var(--primary-color);
  width: fit-content;
}

.products div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.products div article {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
}

.caseStudy {
  display: flex;
  align-items: center;
  padding: 48px 16px;
  position: relative;
}

.caseStudy img {
  z-index: 1;
}

.caseStudy div {
  z-index: 2;
  margin-left: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 48px;
  width: 588px;
  background-color: #f7f8f9;
}

.caseStudy div a {
  padding: 10px 24px;
  background-color: var(--primary-color);
  width: fit-content;
}

.serviceSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 48px 15%;
}

.active {
  fill: var(--secondary-color);
}

.serviceSelectListContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 40px;
  margin-top: 16px;
}

.serviceSelectListContainer h3 {
  font-size: var(--h2);
}

.serviceSelectList {
  display: flex;
  flex-direction: column;
}

.serviceSelectList div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 4px;
  box-shadow: 0px 3px 0px 0px var(--primary-color);
  cursor: pointer;
}

.serviceSelectList div svg {
  fill: #bfbfbf;
}

.serviceSelectContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.serviceSelectContent a {
  padding: 10px 24px;
  background-color: var(--primary-color);
  width: fit-content;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 15%;
  background-color: var(--secondary-bg);
}
.process ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
}

.step2 div,
.step4 div{
  order: 1;
}

.step2 p,
.step4 p{
  order: 2;
}

.step2 img,
.step4 img{
  order: 3;
}

.step1, .step3, .step5 {
  margin-top: -171px;

}

.step2,
.step4 {
  margin-top: 171px;
}

.circle {
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
}

.process li {
  width: 285px;
  height: 180px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 8px;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 15%;
  gap: 16px;
}

.benefits div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.benefits article {
  width: 285px;
  height: 220px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px 15%;
  background-color: var(--secondary-bg);

}

.contact li {
  display: flex;
  align-items: center;
  font-size: var(--b2);
  color: var(--secondary-color);
  gap: 8px;
  width: 240px;
}

.contact form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contact label {
  display: flex;
  flex-direction: column;
  width: 240px;
  font-size: var(--b2);
  color: var(--secondary-color);
}

.contact > div {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact input {
  height: 30px;
}

.contact form div {
  display: flex;
  gap: 20px;
}

.contact button {
  padding: 10px 24px;
  background-color: var(--primary-color);
  width: fit-content;
  border: 0;
  width: 100%;
}

.contact  .small{
  font-size: 12px;
  color: var(--secondary-color);
}
